#top{
	
	font-family: "Allura", sans-serif;
	font-size: 30pt;
	padding: 0px;
	margin-top: 0px;
	
	
	}
		#nav{
			display: block;
			color: black;
			width: 100%;
			text-align: left;
			cursor: pointer;
			transition: 0.3s;
			}

		#nav ul {
			list-style-type: none;
			text-transform: uppercase;
			padding: 0;
			position: absolute;
			top: 130px;
			left: 120px;
			
			}
						
		#nav li {
			
			display: inline-table;
			background-color: #dddddd;
			padding: 10px;
			margin: 2px;
			transition: background-color 2s;
					
			}

		#nav li:hover{
				background-color: #606060;
			
		}
			
		#nav ul a {
			font-size: 12pt;
			color: black;
			text-decoration: none;
					
			}
			
		p{
			font-family: "Allura", sans-serif;
			font-size: 20pt;
			padding: 0px 10px;
			}
			
			
		#footer{
			background-color: white;
			text-align: center;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			font-family: "Allura", sans-serif;
			}	
#content{
	width: 1000px;
	margin: auto;
	padding: 0px;
	overflow: hidden;
	list-style: none;
	background-color: white;

}

p{
	text-align: left;
	font-family: "Allura", sans-serif;
	font-size: 18pt;
	padding: 10px;
	border-bottom: 1px solid black; 
	
}




h3{
	text-align: center;
	font-family: "Allura", sans-serif;
	font-size: 25pt;
	padding: 0 0 0 0;
	margin:0 0 0 0;
	border-bottom: 1px solid black; 
	
}

h4{
	text-align: center;
}

#content li{
	float: left;
	width: 200px;
	height: 200px;
	margin: 15px;
	border: 5px solid #dddddd;
	list-style: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
	-webkit-transform: all 1s ease-in;
	
}

#content li#ph01 {
	background: url("images/couple1.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 220px 220px;
	background-color: white;
	
}
	
#content li#ph02 {
	background: url("images/couple2.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;
}
	
#content li#ph03 {
	background: url("images/couple3.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;
}
	
#content li#ph04 {
	background: url("images/couple4.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 250px 250px;
	background-color: white;
}

#content li#ph05 {
	background: url("images/maternity1.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;
}


#content li#ph06 {
	background: url("images/maternity2.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: white;
}

#content li#ph07 {
	background: url("images/maternity3.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: white;
}


#content li#ph08 {
	background: url("images/maternity4.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;
}


#content li#ph09 {
	background: url("images/baby2.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: white;
}

#content li#ph10 {
	background: url("images/baby3.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: white;
}

#content li#ph11 {
	background: url("images/baby4.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: white;
}

#content li#ph12 {
	background: url("images/baby1.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: white;
}

#content li#ph13 {
	background: url("images/birth1.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 250px 250px;
	background-color: white;
}

#content li#ph14 {
	background: url("images/birth2.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 250px 250px;
	background-color: white;
}

#content li#ph15 {
	background: url("images/birth3.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;
}

#content li#ph16 {
	background: url("images/birth4.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;
}

#content li:hover ph01{
	background-position: 0px 0px;
	background-position: 200px 200px;
	
}


#content li:hover{
	-webkit-transform: scale(1.5);
	
		
}
	
	#footer{

	background-color: white;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	

	}
	
.grid{
	display: grid;
	grid-template-columns: repeat(3, 200px);
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
	height: 1300px;
}

.grid img{
	width: 200px;
	height: 200px;
}